.NavItems {
	display:none;
}
.MobileToggle {
	width:40px;
	height:20px;
	position:relative;
	cursor: pointer;
}

.MobileToggle div {
	width:100%;
	height:1px;
	display:block;
	background-color: #fff;
	position:absolute;
	top:0;
	left:0;
}
.MobileToggle div:nth-child(2) {

	top:50%;
	left:0;
}
.MobileToggle div:nth-child(3) {
	top:100%;
	left:0;
}


@media screen and (min-width:992px) {
	.NavItems {
		display:flex;
		justify-content: space-between;
		list-style:none;
		padding:0;
		width:250px;
		margin:0;
	}
	.MobileToggle {
		display:none;
	}
}