.ContactData {
	width:80%;
	box-shadow: 1px 1px 6px #ccc;
	margin:30px auto 100px;
	padding:6px 15px;
}

.Input {
	display:block;
	padding:4px 7px;
	margin-bottom:10px;
	width:100%;
    clear: both;
    display: inline-block;
    box-sizing: border-box;
}

@media (min-width: 600px) {
	.ContactData {
		width:500px;
	}
}