.Input {
	display:block;
	padding:4px 7px;
	margin-bottom:10px;
	width:100%;
    clear: both;
    display: inline-block;
    box-sizing: border-box;
}
.Input:focus {
	background-color:#f9f9f9;
}
.Label {
	display:block;
	margin-bottom:3px;
	font-size:12px;
}
.Invalid {
	border:1px solid red;
}
